/* Initial Setup */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: inherit;
}


/* generic modifier */

.text--white {
    color: white;
}

.text--red {
    color: #fc6a42;
}

.text--blue {
    color: #648cff;
}

.text--grey {
    color: #e1e1e1;
}

.text--big {
    font-weight: 900;
    font-size: 2.5rem;
}

.text--med {
    font-weight: 400;
    font-size: 1rem;
}

.text--small {
    font-weight: 300;
    font-size: .8rem;
}


/* full width intro with BG img */

.intro {
    width: 100%;
    margin: 0 auto;
    background: url(./img/bg-3x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 105vh;
    max-height: 900px;
}


/* 60% wide header including banner */

header {
    margin: 0 auto;
    width: 80vw;
    max-width: 1100px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topBar {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 40px;
}

.topBar__logo {
    font-family: "PlayFair Display", sans-serif;
    font-weight: 800;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.topBar__nav {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
}

.social--big {
    font-size: 1.9rem;
}

.banner {
    height: 100%;
    display: flex;
}

.action {
    width: 50%;
}


/* setup the mockup block */

.mockup {
    width: 50%;
    display: flex;
    align-items: center;
}

.mockup__con {
    flex: 1 0 auto;
}

.mockup__img {
    padding-left: 10px;
    margin: 0 auto;
    width: 25vw;
    max-width: 250px;
    min-width: 200px;
}

.mockup__con1 {
    padding-left: 15px;
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mockup__bubble {
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
}

.bubble--big {
    align-self: flex-end;
    line-height: 75px;
    width: 75px;
    height: 75px;
    max-height: 100px;
}

.bubble--med {
    align-self: center;
    line-height: 60px;
    width: 60px;
    height: 60px;
    left: 50%;
}

.bubble--small {
    align-self: felx-start;
    line-height: 50px;
    width: 50px;
    height: 50px;
}


/* bubble modifiers */

.bubble--orange {
    background: salmon;
}

.bubble--blue {
    background: #4466c9;
}

.bubble--white {
    background: white;
    color: #638bff;
}

.bubble--yellow {
    color: #638bff;
    background: #fcec64;
}


/* action section style */

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    padding: 0 30px;
}

.action__motto {
    padding: 30px 0;
}

.btnCon {
    width: 80%;
    display: flex;
}

.btn {
    text-align: center;
    width: 8vw;
    max-width: 300px;
    min-width: 120px;
    height: 3vw;
    line-height: 3vw;
    border-radius: 5px;
    color: white;
    margin: 0 20px;
}


/* btn modifiers */

.btn--orange {
    background: #fc6a42;
}

.btn--dark {
    background: #4466c9;
}


/* scroll btn styles */

.scrll {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
    position: relative;
    bottom: 10px;
}

.scrll--shadow {
    box-shadow: 2px 10px 12px #ea47ff5e;
    background: linear-gradient(0deg, rgb(247, 16, 255), rgb(98, 31, 255));
}

.scrll__arrow {
    font-size: 4rem;
    position: relative;
    bottom: 6px;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    30% {
        -webkit-transform: translateY(-30px);
    }
    70% {
        -webkit-transform: translateY(-15px);
    }
}


/* second section for features */

.screen {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5vh auto;
    flex-wrap: wrap;
    padding: 5vw 0;
}

.points3 {
    width: 100%;
    height: 100%;
    display: flex;
}

.point--fullwidth {
    flex: 0 0 100%;
    padding: 50px 0;
    text-align: center;
}


/* modifiers for text inside each section */

.section--main {
    margin-top: 20px;
    color: #648cff;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.section--moto {
    color: #adadad;
    font-size: 1.2rem;
}

.fetur__point {
    display: flex;
    margin: 0 6px;
}

.textwrap {
    display: flex;
    flex-direction: column;
}

.point--head {
    margin: 10px 20px;
    font-size: 1.5rem;
}

.point--moto {
    font-weight: 300;
    line-height: 1.5rem;
    font-size: 0.8rem;
    margin: 10px 20px;
    color: #9c9c9c;
}

.point__img {
    max-width: 78px;
    height: 62px;
}


/* widget section styles */

.imgcon {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgcon__arrow {
    justify-content: flex-start;
}

.arrow--big {
    font-size: 5rem;
    color: gray;
}

.img1 {
    position: absolute;
    z-index: -1;
    transform-origin: center center;
    transform: translate(-180px, 50px);
    box-shadow: 6px 10px 30px rgba(191, 80, 255, 0.267);
    border-radius: 9px;
}

.img2 {
    border-radius: 9px;
    box-shadow: 6px 10px 30px rgba(191, 80, 255, 0.267);
}

.img3 {
    border-radius: 9px;
    position: absolute;
    z-index: -1;
    transform-origin: center center;
    transform: translate(-140px, 50px);
    box-shadow: 6px 10px 30px rgba(191, 80, 255, 0.267);
}


/* styles for cloudy section */

.screencon {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.screencon__img {
    width: 70%;
}

.screencon__img img {
    width: 100%;
}

.screencon__text {
    flex: 0 1 70%;
    align-self: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.screencon__bubble {
    position: relative;
    background: white;
    color: #c3cfe5;
    text-align: center;
    box-shadow: 5px 2px 20px rgba(197, 197, 197, 0.5);
    border-radius: 50%;
}


/* bubble container to fit horizintally */

.bubbleCon {
    display: flex;
    flex-direction: row;
}


/* getting the bubbles to align */

.screencon__bubble:nth-child(2) {
    z-index: -1;
    left: -10px;
}

.screencon__bubble:nth-child(3) {
    z-index: -2;
    left: -20px;
}


/* text modifiers for screen sections */

.text--sub {
    color: gray;
    margin: 10px 0;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.order2 {
    order: 2;
}


/* styles for reviews section */

.reviews {
    display: flex;
    margin: 30px auto;
}

.quote {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.quote__1 {
    align-self: flex-start;
    color: rgb(88, 113, 255);
}

.quote__2 {
    align-self: flex-end;
    color: rgb(88, 113, 255);
}

.quote__text {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 30px 0;
    color: #353854;
}

.quote__person {
    font-size: 1rem;
    font-weight: 250;
}


/* styles for the download section */

.dwn {
    width: 100%;
    background: #648cff;
    overflow: hidden;
    height: 450px;
}

.dwn__con {
    width: 80vw;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.action--text {
    text-transform: uppercase;
    margin: 40px 0;
}

.action--moto {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
}

.con__action {
    flex: 40%;
    padding-right: 40px;
}

.con__action img {
    display: inline;
    margin: 40px 20px;
}

.con__screens {
    flex: 60%;
    align-self: flex-start;
    margin-top: 50px;
}

.con__screens img {
    width: 100%;
    min-width: 500px;
    height: auto;
}


/* styles for footer */

footer {
    width: 100%;
    background: #353854;
}

.footer__con {
    height: 350px;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__social {
    display: flex;
    align-items: center;
}

.footer__1 {
    flex: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__copyrights {
    flex: 40%;
    justify-self: center;
    padding-top: 20px;
    border-top: 2px solid #c8c8c8a8;
    text-align: right;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    * {
        font-size: 12px;
    }
    header {
        width: 100%;
    }
    .topBar {
        background: #353854;
        padding-left: 10px;
        flex-direction: column;
    }
    .nav--hidden {
        display: none;
    }
    .nav--hidden:active {
        background: #648cff;
    }
    .topBar {
        margin-bottom: 20px;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
    .topBar__nav {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 8px;
    }
    .topBar__nav * {
        text-align: center;
        width: 100%;
        height: 1.5rem;
        line-height: 1.5rem;
        padding: 0.3rem 0;
        border-top: 1px solid grey;
    }
    .topBar__social {
        display: none;
    }
    .mobileNav {
        position: absolute;
        top: 15px;
        right: 2rem;
    }
    /* styles for banners */
    .action {
        display: none;
    }
    .banner {
        flex-direction: column;
        margin-top: 5.5rem;
    }
    .mockup {
        width: 100%;
    }
    .mockup__con {
        position: absolute;
        left: 5vw;
    }
    .mockup__con1 {
        position: absolute;
        right: 5vw;
    }
    .mockup__img {
        width: 60vw;
        height: 90vh;
        align-items: center;
        display: flex;
    }
    .mockup__img img {
        width: 100%;
    }
    .points3,
    .imgcon,
    .screencon {
        flex-direction: column;
        width: 100%;
    }
    .screencon {
        align-items: center;
    }
    .imgcon__arrow {
        display: none;
    }
    .img1,
    .img2,
    .img3 {
        display: none;
    }
    .imgcon {
        width: 100vw;
        height: 70vw;
        background: url(./img/centerimg.png) no-repeat center;
        background-size: contain;
    }
    .screencon__text {
        width: 100%;
        padding: 20px 0;
        align-items: center;
        text-align: center;
    }
    .order2 {
        order: initial;
    }
    .screen {
        width: 90vw;
    }
    /* styling for vertical review section */
    .reviews {
        flex-direction: column;
        align-items: center;
        margin: 30px auto;
    }
    .quote {
        width: 80%;
        margin: 0;
    }
    /* styles for download section */
    .dwn {
        width: 100vw;
        background: #648cff;
        overflow: inherit;
        height: 100vh;
        min-height: 700px;
        max-height: 750px;
    }
    .dwn__con {
        width: 100vw;
        margin: 0 auto;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .action--text {
        text-align: center;
        margin: 10px 0;
    }
    .action--moto {
        text-align: center;
    }
    .con__action {
        padding: 0 20px;
    }
    .con__action img {
        padding: 10px 0px;
        display: block;
        margin: 0 auto;
    }
    .con__screens img {
        min-width: initial;
    }
    /* footer styles for mobile */
    .footer__1 {
        display: none;
    }
    .footer__con {
        height: 10vh;
        width: 100vw;
    }
    .footer__copyrights {
        padding-top: 20px;
        border-top: 2px solid #c8c8c8a8;
        text-align: center;
    }
}